# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin
.apt_generated*

# Ignore IDE output directory
.idea
.fleet
.vscode

# Ignore Etc output directory
*.rslsc

# Ignore Devcontainer directory
.vscode-server
.cursor-server